<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
          <ion-back-button color="primary" defaultHref="backPage()"></ion-back-button>
      </ion-col>
      <ion-col size="8">
        <ion-title class="margin" color="primary">XStream</ion-title> 
      </ion-col>
      <ion-col size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card style="padding: 0cm;">
      <ion-card-header>
        <ion-card-subtitle>Contact</ion-card-subtitle>
        <ion-card-title>Anjan Jana</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-text>Village - Paya, P.O - Paya Medinipur, Dist - Purba Medinipur, Digha, West Bengal, INDIA </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Support?</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-twitter" slot="start"></ion-icon>
        <a href="http://twitter.com/share?text= @link2anjan One More Light - XStream&hashtags=OneMoreLight,AnjanJana,XStream,">
          <ion-label color="secondary">@link2anjan</ion-label>
        </a>
      </ion-item>
      <ion-item>
        <ion-label>Lookin for ...?</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
       <a href="mailto:link2anjan@gmail.com?subject=One%20More%20Light-XStream"> <ion-label color="secondary">link2anjan@gmail.com</ion-label></a>
      </ion-item>
    </ion-card>
  </div>
  <div class="margin-dis">
    <p>Discriminatory:</p>
    <p>The App is designed to provide unique content. The App used third party services to access resources that are available publicly. </p>
    <p>This is an individual project, non-commercial, non-profitable.</p>
  </div>
 
</ion-content>
