.text-start{
    text-align: left;
}
.ion-text-left{
    text-align: left;
}
ion-back-button{
    --padding-top: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
    --margin-start: 0px;
    --icon-padding-start:0px;
    --icon-margin-start: 0px; 
}

.place-iframe{
    margin-top: 50px;
}
ion-content{
    --background : #383a3e
}
.tips{
    color: white;
    margin: 20px;
}