ion-content{
    --background : #383a3e
}
ion-card{
    height: 230px;
    width: 100%;
    margin: 0px;
}
img{
    height: 200px;
    width: 100%;
    overflow: hidden;
}
ion-card-title{
    margin: 0px;
    font-size: 15px;
    text-align: center;
}
ion-card-content{
    margin: 0px;
    padding: 0px;
}
ion-infinite-scroll-content{
    --color : #df1a55
}